.navpanel{
	margin: 60px 0 15px 0;
}

.navpanel table{
	width:100%;
}
.navpanel tr td{
	  width: 33%;
  text-align: center;
  border: 1px solid #d3d3d3;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
	
}

.giftcard p{
	color:#999999;
}

.giftcard table{
	width:99.3%;
	border: 1px solid #999999;
	margin-top: 15px;
}

.giftcard table tr td{
padding: 6px 18px 16px 8px;
}

.giftcard input{
	margin-top: 15px;
height: 40px;
width: 100%;
font-size: 15px;
padding: 0px 5px;
color: #999999;
}

.giftcard div{
	margin-top: 15px;
height: 40px;
width: 48%;
font-size: 15px;
padding: 0px 5px;
color:#999999;
}

.giftcardbutton{
	margin-top: 220px;
	height: 36px;
  	width: 148px;
 	font-size: 20px;
	padding: 0px 5px;
	cursor:pointer;
	border:none;
}

.giftcardbutton:hover{
background-color: rgb(0,255,192);
}

.giftcard textarea{
  margin-top: 15px;
  height: 186px;
  width: 99%;
  font-size: 25px;
  padding: 30px 5px 0px 0px;
  text-align: center;
}

.selectedtab{
	background-color: rgb(0,255,192);
	border:none!important;
}

.colorchoice{
	  height: 55px;
  width: 55px;
  margin-left: 25px;
  margin-top: 1px;
  cursor: pointer;
  border: none;
}